<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <base href= "http://127.0.0.1:8000/" target="_self">

</head>
<body>
{% if user.is_authenticated %}
  
{% for group in user.groups.all%}
    {% if group.name == "Customers" %}
    <div class="navbar">
      <nav>
        <a href="">Home</a>
        <a href="customers/account_balance/">Account Balance</a>
        <a href="{% url 'customers:update_pickup'%}"> Update Pickup </a>
        <a href="{% url 'customers:one_time_pickup'%}"> Schedule One Time Pickup</a>
        <a href="{% url 'customers:suspend_pickup'%}"> Suspend Services</a> 
      </nav> 
    </div>   
    
    {% elif group.name == "Employees" %}
    <div id="navbar">
      <nav>
        <a href="">Home</a>
        <a href="{% url 'employees:todays_pickups' %}"> Todays Pickups </a>
        <a href=""> Weekly Pickup Information</a>
        <a href=""> Suspend Services</a> 
      </nav> 
    </div> 
    {% endif %}

  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    
    {% block content %}
    
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}