<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  
{% for group in user.groups.all%}
    {% if group.name == "Customers" %}
    <div id="navbar">
      <nav>
        <a href="{  %url 'customers:index'%}">Home</a>
        <a href="{ %url 'customers:update_pickup'%}"> Update Pickup </a>
        <a href="{ %url 'customers:one_time_pickup'%}"> Schedule One Time Pickup</a>
        <a href="{ %url 'customers:suspend_pikcup'%}"> Suspend Services</a> 
      </nav> 
    </div>   
    
    {% elif group.name == "Employees" %}
    <div id="navbar">
      <nav>
        <a href="{%url 'employees:index'%}">Home</a>
        <a href="{ %url ''%}"> Update Pickup </a>
        <a href="{ %url ''%}"> Schedule One Time Pickup</a>
        <a href="{ %url ''%}"> Suspend Services</a> 
      </nav> 
    </div> 
    {% endif %}

  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    
    {% block content %}
    
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}