{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>Hello Employee: {{ user.username }}!</h1>
    <br>
    <h2>Todays Pickups</h2>
    <form action = "{% url 'employees:index'%}">
      {% for customer in customer %}
              <h4><li>Name: {{customer.name}}<br> Address: {{customer.address}} {{customer.zip_code}}</li></h4>
              <a href = "{% url 'employees:charge_customer' 20 customer.id %}">Confirm pickup and charge customer</a>
      {% endfor %}
      </form>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'register' %}">Sign Up</a>
  {% endif %}
  {% endblock %}