{% extends 'base.html' %}

{% block title %}{% block header %} Search by day {% endblock %}{% endblock %}

{% block content %}

  <p><a href= "{% url 'employees:filter' 'Monday' %}">Monday pickups</a><br><br>
    <a href= "{% url 'employees:filter' 'Tuesday' %}">Tuesday pickups</a><br><br>
    <a href= "{% url 'employees:filter' 'Wednesday' %}">Wednesday pickups</a><br><br>
    <a href= "{% url 'employees:filter' 'Thursday' %}">Thursday pickups</a><br><br>
    <a href= "{% url 'employees:filter' 'Friday' %}">Friday pickups</a><br><br>
</p>
  {% endblock %}