{% extends 'base.html' %}

{% block title %} Create Acount {% endblock %}

{% block header %} Create Account {% endblock %}


{% block content %}
  <h2>Complete registration</h2>
  <form action = "{% url 'customers:create' %}" method="POST">
    {% csrf_token %}
      Name : <input type = 'text' name ='name' id="name"><br />
      Address : <input type = 'text' name ='address' id="address"><br />
      Zip code : <input type = 'number' name ='zip_code' id="zip_code"><br />
      Weekly Pick-Up Day : 
        <select name="weekly_pickup" id="weekly_pickup">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thurday">Thurday</option>
        <option value="Friday">Friday</option>
      </select>
      <br><br>
      <input type="submit" value="Update">
    </form>  

{% endblock %}