{% extends 'base.html' %}

{% block title %} Account Details {% endblock %}

{% block header %} Account Details {% endblock %}

{% block content %}
        
            <p id="details"><b>Name:</b> {{single_customer.name}}<br>
            <b> Pick up day:</b> {{single_customer.weekly_pickup}}</br>
            <b> Address: </b>{{single_customer.address}}</br> 
            <b> Balance: </b>${{single_customer.balance}}<br>
           
            <form action="{% url 'customers:index'%}">
            <input type="submit" value="Return to Home">
            </form>
            </p>
       
        
{% endblock %}