{% extends 'base.html' %}

{% block title %} Account Details {% endblock %}

{% block header %} Account Details {% endblock %}

{% block content %}
        <h2>Name: {{single_customer.name}}</h2>
        <h2>Pick up day: {{single_customer.weekly_pickup}}</h2>
        <h2>Address: {{single_customer.address}}</h2> 
        <h2>Balance: ${{single_customer.balance}}</h2>
        <form action="{% url 'customers:index'%}">
            <input type="submit" value="Return to Home">
        </form>
{% endblock %}