{% extends 'base.html' %}

{% block title %} Suspend Pickup {% endblock %}

{% block header %} Suspend Pickup Services {% endblock %}

{% block content %}
    <form action="{% url 'customers:suspend_pickup'%}" method="POST">
        {% csrf_token %}
          <label for="suspend_pickup">Choose Suspension Start And End Date:</label>
          <input type= "date" id= 'suspend_start' name= 'suspend_start'>
          <input type= 'date' id= 'suspend_end' name= 'suspend_end'>
          <input type="submit" value="Update">
        </form>    
        <form action="{% url 'customers:index'%}">
          {% csrf_token %}
          <input type="submit" value="Return to Home" />
      </form>
{% endblock %}
