<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suspend Pickup</title>
</head>
<body>
    <form action="{% url 'customers:suspend_pickup'%}" method="POST">
{% extends 'base.html' %}

{% block title %} Suspend Pickup {% endblock %}

{% block header %} Suspend Pickup Services {% endblock %}

{% block body %}
    <form action="{% url 'customers:update_pickup'%}" method="POST">
        {% csrf_token %}
          <label for="suspend_pickup">Choose Suspension Start Date:</label>
          <input type= "date" id= 'suspend_start' name= 'suspend_start'>
          <input type= 'date' id= 'suspend_end' name= 'suspend_end'>
          <input type="submit" value="Update">
        </form>    
{% endblock body %}
