{% extends 'base.html' %}

{% block title %}Update Pickup {% endblock %}

{% block header %} Update Reoccuring Pickup Day {% endblock %}

{% block content %}
    <form action="{% url 'customers:update_pickup'%}" method="POST" id="update_pickup">
      {% csrf_token %}
        <label for="weekly_pickup">Choose a day of week:</label>
        <select name="weekly_pickup" id="weekly_pickup">
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
        </select>
        <br><br>
        <input type="submit" value="Update">
    </form>
    <form action="{% url 'customers:index'%}">
      {% csrf_token %}
      <input type="submit" value="Return to Home" />
  </form>
            
{% endblock %}
